# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Processed data
processed_superstore.csv
Dataset/processed_superstore.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store